.container {
  padding: 80px;
  background-color: #f5f8fa;
  min-height: 100vh;
}

.main {
  margin: auto;
  max-width: 500px;
  border: 1px solid rgba(8,19,26,.141);
  background-color: #fff;
}

.main h2 {
  padding: 0 20px;
}

.title,
.description {
  text-align: center;
}
